.page-footer
    padding 1em 0
    background-color gray-bg
    margin-top 3em

    &--no-margin
        margin-top 0

    &__content
        padding 2em 0
        display flex
        flex-wrap wrap
        align-items center
        justify-content space-between
        box-sizing border-box


    /*
       Adaptive
       ========================================================================== */

    +below(bp-xm)
        &__content
            justify-content center

        &__block
            width 100%
            margin-bottom 2em
            text-align center

            &:last-child
                margin-bottom 0

    +below(bp-tab-xs)
        &__content
            padding-left site-paddings
            padding-right site-paddings