$common-sprite
    background-image url('/assets/build/prod/sprites/common-sprite.png?mt=1518767939825')

s-icon-camera--common = 0px 53px 0px -53px 24px 20px 121px 73px
s-icon-search--common = 101px 0px -101px 0px 20px 20px 121px 73px
s-icon-upload--common = 29px 53px -29px -53px 25px 18px 121px 73px
s-icon-video--common = 59px 53px -59px -53px 25px 18px 121px 73px
s-logo--common = 0px 0px 0px 0px 96px 48px 121px 73px


